<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authors</title>
</head>
<body>
  <nav>
    <a href="/books">Books</a>
    <a href="/authors/new">New Author</a>
  </nav>
  <h1>Authors</h1>

  <main>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>
            Actions
          </th>
        </tr>
      </thead>

      <tbody>
        <% for (const author of authors) { %>
          <tr>
            <td><a href="/authors/<%= author._id %>"><%= author.name %></a></td>
            <td><%= author.age %></td>
            <td>
              <a href="/authors/<%= author._id %>/edit"><button>Edit</button></a>
              <a href="/authors/<%= author._id %>/delete"><button>Delete</button></a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>

</body>
</html>
